name: iOS-ipa-build

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          architecture: x64

      - name: Clean iOS
        run: |
          rm -rf ios/Pods
          rm -rf ios/Podfile.lock
          rm -rf ios/.symlinks
          rm -rf ios/Flutter
          rm -rf ios/Flutter/Flutter.podspec
          rm -rf ios/Runner.xcworkspace

      - name: Flutter pub get
        run: flutter pub get

      - name: Precache iOS artifacts
        run: flutter precache --ios

      - name: Generate xcconfig (first build)
        run: flutter build ios --no-codesign

      - name: Pod install
        run: |
          cd ios
          pod install

      - name: Build iOS release (no codesign)
        run: flutter build ios --release --no-codesign

      - name: Create IPA
        run: |
          cd build/ios/iphoneos
          mkdir Payload
          mv Runner.app Payload/
          zip -qq -r -9 MagicCity.ipa Payload

      - name: Upload IPA
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/ios/iphoneos/MagicCity.ipa
          tag: v1.0
          overwrite: true
